.user-profile {
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 20px;
  margin: 2px auto; 
  width: 300px;
  height: 350px;
  background-color: #131834;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.user-profile.expanded {
  width: 350px; /* Increased width in editing mode */
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-info {
  margin-bottom: 20px;
}

.isEditing input {
  width: calc(100% - 16px);
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 4px;
}
.isEditing button {
  margin-left: 10px;
}


.btn-edit {
  background-color: #4A90E2;
  color: white;
  border: none;
  width: 100px;
  border-radius: 4px;
  padding: 8px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #3B78B5;
}

.logout-button {
  background-color: #2196F3;
  color: white;
  border: none;

}

.logout-button:hover {
  background-color: #c0392b;
}

.btn-bookings {
  background-color: #FF9800;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.btn-bookings:hover {
  background-color: #f57c00;
}